* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

a {
  color: #000;
  font-size: small;
}

a.dark {
  color: wheat;
  font-size: small;
}

h5 {
  padding: 0;
  margin: 5px 0px 5px 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.header-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #21222a;
  color: #ffffff;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.form-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #21222a;
  color: #ffffff;
}

.pokemons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.pokemons-dark {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  background-color: #21222a;
}

.pokemon-card {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
}

.pokemon-card-dark {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: #2d3044;
  color: #ffffff;
}

.pokemon-card > img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.pokemon-card > h3 {
  font-weight: 700;
  font-size: 18px;
}
.card--favorite {
  width: 25px;
  cursor: pointer;
}

.info-group {
  display: flex;
  align-items: center;
}

.info-group > img {
  height: 11px;
  margin-right: 8px;
}

.info-group > p {
  margin-block: 3px;
  font-size: 12px;
  color: #2b283a;
}

.info-group-dark > p {
  margin-block: 3px;
  font-size: 12px;
  color: whitesmoke;
}

nav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 30px 25px;
  height: 60px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  font-size: 18pt;
}

nav.dark {
  background-color: #21222a;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 1.1rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2b283a;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #f5f5f5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2b283a;
}

nav.dark .toggler--light {
  color: #918e9b;
}

.toggler--dark {
  color: #d5d4d8;
}

nav.dark .toggler-dark {
  color: #ffffff;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}
